/**
* taken from polymer layout template nav+cards
* http://polymerelements.github.io/app-layout-templates/
*/

body {
    background: #fafafa;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
}

paper-material {
    max-width: 900px;
}


/*pagination*/

#page-nav {
    text-align: center;
    margin: 20px auto;
}

#page-nav .page-number, #page-nav a {
    color: white;
    background: #3E50B4;
    font-size: 1em;
    text-transform: uppercase;
    padding: 8px 12px;
    margin: 1px;
    text-decoration: none;
}

#page-nav .page-number.current {
    color: #555;
    background: #eee;
}

a {
    color: #3F51B5;
    text-decoration: none;
}

a.post-title {
    line-height: normal;
}

.article-more-link {
    float: right;
}

.pagination-btn {
    background: #fff;
    /*color: #fff;*/
}

.post-time {
    float: right;
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
}