 <div class="nav" drawer>
  <!-- Nav Content -->
   <paper-header-panel mode="seamed">
      <paper-toolbar>
        <div>刘哇勇的部落格</div>
      </paper-toolbar>
      <paper-menu selected="1">
        <paper-item>
          <a href="/" >主页 </a>
        </paper-item>
        <paper-item> 
          <a href="/archive" >存档</a>
        </paper-item>
        <paper-item> 
          <a href="/about" >关于</a>
        </paper-item>
      </paper-menu>
  </paper-header-panel>
</div>